/* Start Variables */
:root {
  --header-color: #4f4f4f;
  --main-color: #333;
  --icons-bg-color: #f2994a;
  --section-padding: 80px;
  --header-ff: "Playfair Display", serif;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul,
ol {
  list-style: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Larg  */
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
/* End Global Rules */
/* Start Header */
header {
  padding-top: calc(var(--section-padding) / 2);
}
header .container {
  display: flex;
  flex-flow: column wrap;
}
header .container .text {
  padding-bottom: calc(var(--section-padding) / 3);
  width: 70%;
  margin-left: 12px;
}
header .container .text h1 {
  font-family: var(--header-ff);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding-bottom: 10px;
}
header .container .text .icon-p p {
  color: var(--header-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}
header .container .text .icon-p {
  display: flex;
  gap: 12px;
}
header .container .text .icon-p .icon-1 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  width: 13px;
  height: 8px;
  color: #c4c4c4;
}
header .container .image {
  max-width: 100%;
}
header .container .image img {
  width: 100%;
}
/* End Header */
/* Start Ingredients Section */
.ingredients {
  padding-top: calc(var(--section-padding) / 2);
}
.ingredients .container {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--section-padding) / 3);
}

.ingredients .container .time {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  gap: calc(var(--section-padding) / 2);
  width: 216px;
  height: 367px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: calc(var(--section-padding) / 3) 0;
  order: 2;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  cursor: pointer;
}

.ingredients .container .time .buttom {
  display: flex;
  flex-flow: column;
  gap: calc(var(--section-padding) / 2);
}
.ingredients .container .time .box .icon span {
  font-size: 34px;
}
.ingredients .container .time .top .box .icon span {
  color: var(--icons-bg-color);
}
.ingredients .container .time .buttom .box .icon span {
  color: var(--header-color);
}
.ingredients .container .time .box .text {
  text-align: start;
}
.ingredients .container .time .box {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
.ingredients .container .time .box .text p:first-child {
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.ingredients .container .time .box .text p:last-child {
  color: var(--main-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ingredients .container .time .top .box .text p:last-child {
  color: var(--icons-bg-color);
}
.ingredients .container .ing {
  display: flex;
  flex-flow: column;
  gap: calc(var(--section-padding) / 3);
  width: 75%;
}
.ingredients .container .ing h2 {
  color: var(--main-color);
  font-family: var(--header-ff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ingredients .container .ing h3 {
  color: var(--main-color);
  font-family: var(--header-ff);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.ingredients .container .time:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #f2994a;
}
.ingredients .container .time:hover .top .box .icon span,
.ingredients .container .time:hover .top .box .text p,
.ingredients .container .time:hover .buttom .box .text p,
.ingredients .container .time:hover .buttom .box .icon span {
  color: white;
}
.ingredients .container .ing ol {
  display: flex;
  flex-flow: column;
  gap: calc(var(--section-padding) / 5);
  width: 110%;
}
.ingredients .container .ing ol li {
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.ingredients .container .ing ol li:last-child span {
  font-style: italic;
  font-weight: 500;
}
.ingredients .container .ing ol li input {
  width: 21px;
  height: 21px;
  margin-right: calc(var(--section-padding) / 5);
}

.ingredients .container .ing ol:last-of-type {
  gap: calc(var(--section-padding) / 2.3);
  margin-left: calc(var(--section-padding) - 20px);
}
.ingredients .container .ing ol:last-of-type li {
  display: block;
  counter-increment: Roban;
  position: relative;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.ingredients .container .ing ol:last-of-type li::before {
  content: counter(Roban);
  width: 36px;
  height: 36px;
  position: absolute;
  left: -62px;
  top: 0;
  border-radius: 6px;
  background: #f2994a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--header-ff);
  font-size: 24px;
  font-weight: 700;
  padding: 0 1.5px 4px 1.5px;
}
a {
  text-decoration: none;
  color: #bdbdbd;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 150%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  padding: calc(var(--section-padding) / 1.5) 0;
  width: fit-content;
}

.ingredients .container .ing a:hover {
  color: var(--header-color);
}
/* Strat Small Screens */
@media (max-width: 768px) {
  .ingredients .container {
    flex-flow: column;
    justify-content: center;
  }
  .ingredients .container .time {
    order: 1;
    box-shadow: none;
    width: 100%;
    height: fit-content;
  }

  .ingredients .container .ing {
    order: 2;
  }
  .ingredients .container .time .buttom {
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
  }
  .ingredients .container .time .top {
    align-self: flex-start;
  }
  header .container .text h1 {
    font-size: 24px;
  }
  header .container .text {
    width: 100%;
    margin: 0;
  }
  .ingredients .container .time .box .text p:last-child {
    font-size: 10px;
  }
  .ingredients .container .time .box .text p:first-child {
    font-size: 8px;
  }
  .ingredients .container .time .top .box .icon span {
    font-size: 24px;
  }
  .ingredients .container .time .buttom .box .icon span {
    font-size: 24px;
  }
  .ingredients .container .ing h2 {
    font-size: 18px;
  }
  .ingredients .container .ing h3 {
    font-size: 1rem;
  }
  .ingredients .container .ing ol li {
    font-size: 14px;
  }
  .first-a {
    font-size: 12px;
  }
  .first-a span {
    display: block;
  }
  footer p {
    font-size: 14px;
  }
  .ingredients .container .time:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    background-color: #f2994a;
    padding: 20px;
  }
} /* End Small Screens */
/* End Ingredients Section */
/* Start Footer */
footer {
  text-align: center;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #a9a9a9;
  padding-bottom: 10px;
}
footer a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(13, 139, 223);
  text-shadow: rgb(34 149 145) 2px 4px 5px;
}
/* End Footer */
